.image-container {
  height: 25%;
  @media screen and (min-width: 992px) {
    height: 100%;
  }
}
.form-container {
  height: 75%;
  background-color: rgb(196, 196, 196);
  @media screen and (min-width: 992px) {
    height: 100%;
  }
}
.full-logo {
  display: none;
  @media screen and (min-width: 769px) {
    display: block;
  }
}
.sm-logo {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
}
