<div *ngFor="let item of items" class="dropdown main-container mx-2 mt-4 mt-lg-1">
  <div class=" d-flex flex-row-reverse align-items-center justify-content-center" data-toggle="dropdown"
    data-hover="dropdown">
    <div>{{item.name}}</div>
    <mat-icon icon class="mat-active">{{item.icon}}</mat-icon>
      <ul *ngIf="item.child.length > 0" [ngClass]="{'dropdown-menu-items' : item.child.length >= 3}" class="dropdown-menu">
        <li *ngFor="let i of item.child" [routerLink]="[item.basePath, i.path]"> {{i.name}}</li>
      </ul>
  </div>
</div>
