$primary: #002d57;
$secondary: #E2E2E2;
$info: #2A65C2;
$success: #429d6f;
$warning: #bf8d37;
$danger: #f44336;
$light: #f8f9fa;
$dark: #343a40;
$text: rgb(243, 236, 236);
$text-hover: rgba(211, 218, 222, 0.884);
$linear-gradient: linear-gradient(to right, rgba(48, 168, 223, 0.884), rgba(1, 46, 89, 0.87));

$snackbar-background: #01274a;
