$display:flex;
$border-color: 3px #919191 solid;
$border-radius: 1.25em;
$width:auto;
$flex: row-reverse;
$height:45px;
$align: center;
$justify: space-evenly;
$color: #FFF;
$outline: #c9c9c9 2px solid;
$min: 100px;
$background:      linear-gradient(to right, rgb(48, 168, 223), rgb(1, 46, 89));
$background-25:   linear-gradient(to right, rgb(43, 156, 209), rgb(0, 45, 88));
$background-35:   linear-gradient(to right, rgb(57, 161, 210), rgb(12, 53, 92));
$background-50:   linear-gradient(to right, rgb(1, 46, 89), rgb(48, 168, 223));
$background-75:   linear-gradient(to right, rgb(8, 49, 87), rgb(62, 170, 219));
$background-100:  linear-gradient(to right, rgb(1, 46, 89), rgb(48, 168, 223));
