
/* BOOTSTRAP */
$primary: #002d57;
$secondary: #E2E2E2;
$info: #2A65C2;
$success: #429d6f;
$warning: #bf8d37;
$danger: #f44336;
$light: #f8f9fa;
$dark: #343a40;
/* end custom.scss */



@import '../../node_modules/bootstrap/scss/bootstrap.scss';
