._card-header {
  background: rgb(0 45 87);
  color: rgb(255 255 255);
  min-height: 50px;
}

._card-body {
  background: linear-gradient(
    230deg,
    rgb(197 197 197) 35%,
    rgb(255 255 255) 160%
  );
  min-height: 35vh;
}

